aside.menu-area{
    background-color: var(--bg-dark);
    box-shadow: var(--shadow);
}

.menu a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-weight: 300;

}

.menu a:hover{
    background: dodgerblue;
}